.link_articulo {
    width: 85%;
    height: auto;
    background-color: black;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;


}.section_juegos {
    background-color: #240041;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 10px;
}

.section_hardware {
    display: grid;
    background-color: #090089;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 10px;
    
}


.section_desarrollo {
    background-color: #3d68bb;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 10px;
}

    .ancor__link {
        color: white;
        font-size: 15px;
        text-align: center;
        /* text-decoration: auto; */
    }